/* GLOBAL */
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: #FEFEFE;
}

.clearfixf::after {
content: "";
display: table;
clear: both;
}

.border_radius{
    border-radius: 50%;
}

/* COLORING */

.gray{
    color: #6C6C6C;
}

.gray_image{
    filter: invert(42%) sepia(0%) saturate(831%) hue-rotate(139deg) brightness(95%) contrast(78%);
}

.font_w{
    font-weight: 600;
}

.gray_hr{
    border-color: #6C6C6C ;
}

/* DIMENSIONI CONTAINER PREINPOSTATE */

#container_structure{
    height: 1000px;
    width: 100%;
}

/* MAIN */
.container_webapp{
  width: calc(100% - 225px);
    float: right;
}


/* HEADER */

#main_header{
    background-color: #080B12;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.upgrande_text{
    border: 1px solid white;
    margin: 15px 5px 20px 0;
    padding: 10px 30px;
    border-radius: 20px ;
    font-size: 0.7rem;
    font-weight: 700;
    cursor: pointer;
}

/* WEBAPP CONTENT */
#webapp_content{
    height: 1400px;
    background-color: #141922;
}

/* SEZIONE MENU */

.section_container{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.9rem;
    text-align: center;
}

.menu_section{
    display: flex;
    align-items: center;
}

.section_text{
    color: #7D7F84;
    display: inline-block;
    font-weight: 700;
    margin-right: 10px;
}

.webapp_section{
    margin-top: 15px;
}

.last_section{
    margin-right: 0;
}

.underline_container{
    display: inline-block;
    position: relative;
}

.underline_green{
    border-color: #ADFF2F;
    position: absolute;
    width: 35px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 3px;
}

.underline_container, .webapp_section p{
    margin-bottom: 10px;
}

/* MAIN CONTENT */
.webapp_container{
    margin: 25px 0 0 0;
}

.webapp_main_title{
    margin: 0 0 10px 15px;
}

.webapp_main_container{
    display: flex;
    justify-content: space-between;
    margin: 25px 15px 0 15px;

}

.preview_container{
        width: 250px;
    text-align: center;
}

.song_row{
    height: 50%;
}

.song_column{
    display: inline-block;
    width: 50%;
}

.img_dett > img {
    width: 100%;
}

.img_dett{
    position: relative;
}

.img_dett > i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
}

.player_size_icon_hover{
    font-size: 3rem;
}

.webapp_song{
    margin-top: 15px;
    font-size: 0.9rem;
}

.webapp_desc{
    margin-top: 10px;
     color: #6C6C6C ;
     font-weight: 600;
}


.small_size{
    width: calc(100% / 3)
}
.main_title_container{
    margin: 0 0 25px 15px;
}

/* SIDEBAR */

#sidebar{
    background-color: black;
    height: calc(100vh - 100px);
    position: fixed;
    width: 225px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playlist{
    margin-left: 15px;
    margin-top: 15px;
}

.account{
    margin: 15px 20px 15px 15px;
}


.logo > img{
    width: 75%;
}

.menu_link{
    margin-top: 20px;
    line-height: 30px;
}

.img_nav{
    width: 10%;
}

.menu_link_text{
    display: inline-block;
}

.img_container{
    font-weight: 600;
}

.playlist_list > h3{
    
    font-size: 0.8rem;
    margin: 15px 0 5px 0;
}

.crea_playlist_container{
    display: flex;
    align-items: center;
    
    margin: 5px 0 10px 0;

}

.crea_playlist{
    display: inline-block;
}

.crea_playlist_container > i{
    font-size: 2.5rem;
    margin-right: 10px;
}

.nome_playlist_container{
    line-height: 30px;
    font-size: 0.8rem;
}

.account > i{
     margin-right: 5px;
}

.install{
    font-size: 0.9rem;
    display: inline-block;
}

.install_hr{
    margin: 10px 0;
}

.name{
    display: inline-block;
    font-weight: bolder;
}

.name_container{
    display: flex;
    align-items: center;
}

.name_container > img{
    background-color: #808080;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 10px;
}


/* FOOTER */

.song_dett{
    display: flex;
    align-items: center;
}

#footer_fixed{
    height: 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #282828;
}

#footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    margin: 0 10px;
}

.foto_song{
    height: 50px;
}

.song_title{
    display: inline-block;
    margin: 0 40px 0 10px;
    font-size: 0.8rem;
}

.song_title > p{
    font-weight: 700;
}

.song_icon{
    display: inline-block;
    word-spacing: 10px;
}

.music_player{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 230px;
    margin-bottom: 5px;
}

.music_option{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.music_player i:not(.player_size){
    font-size: 1.3rem;
}

.player_size{
    font-size: 2rem;
}

.player_hover_container{
    padding-left: 0.05rem;
   padding-right: 0.05rem;
}

.music_time p{
    display: inline-block;
}

.file{
    width: 400px;
    margin: 0 20px 0 10px;
        filter: grayscale(100);
    transform: rotate(180deg);
}

.music_time{
    margin-top: 5px;
}

.footer_option{
    word-spacing: 10px;
}

.file_option{
    width: 200px;
}

/* HOVER */

.upgrande_text:hover{
    margin: 12px 5px 17px 0;
    padding: 13px 33px;
}


.gray_font:hover,.menu_link_text:hover, .crea_playlist:hover,.nome_playlist:hover, .install:hover, .section_text:hover{
    color: white;
    cursor: pointer;
}

.wht_icon:hover{
    color: white;
     cursor: pointer;
}

.underline_wht:hover{
    color: white;
    cursor: pointer;
    text-decoration: underline;
}

.icon_cursor:hover{
    cursor: pointer;

}

.player_hover_container:hover{
   padding-left: 0;
   padding-right: 0;
}

.player_hover_container:hover > .player_size{
    font-size: 2.1rem;
}

.footer_option i:hover{
    cursor: pointer;
}

.img_dett:hover > i{
    visibility: initial;
}

.img_dett:hover > img{
    opacity: 0.2; 
}